<h5>Basic</h5>
<div class="p-field-radiobutton">
	<p-radioButton name="city" value="Chicago" [(ngModel)]="city" inputId="city1"></p-radioButton>
	<label for="city1">Chicago</label>
</div>
<div class="p-field-radiobutton">
	<p-radioButton name="city" value="Los Angeles" [(ngModel)]="city" inputId="city2"></p-radioButton>
	<label for="city2">Los Angeles</label>
</div>
<div class="p-field-radiobutton">
	<p-radioButton name="city" value="New York" [(ngModel)]="city" inputId="city3"></p-radioButton>
	<label for="city3">New York</label>
</div>
<div class="p-field-radiobutton">
	<p-radioButton name="city" value="San Francisco" [(ngModel)]="city" inputId="city4"></p-radioButton>
	<label for="city4">San Francisco</label>
</div>

<h5>Dynamic Values, Preselection, Value Binding and Disabled Option</h5>
<div *ngFor="let category of categories" class="p-field-checkbox">
	<p-radioButton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedCategory"
		[disabled]="category.key === 'R'"></p-radioButton>
	<label [for]="category.key">{{category.name}}</label>
</div>